
h1 {
  text-align: left;
  color: whitesmoke;
}

h2 {
  text-align: left;
  color: whitesmoke;
}

p {
  text-align: left;
  color: whitesmoke;
}

body
{
  background-color: black;
}
body
{
  color: whitesmoke;
}
